.checkstyle
.project
.clover
.settings
.classpath
bin
build
dist
target
*.iml
*.ipr
*.iws
.idea
*.externalToolBuilders
.eclipse-pmd

# Ignore www.jenv.be file to switch java versions on OSX
.java-version
