<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MigrationSettings" type="com.tacitknowledge.util.migration.ado.conf.MigrationConfiguration, AutopatchNet, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="MigrationDatabaseSettings" type="com.tacitknowledge.util.migration.ado.conf.DBConfiguration, AutopatchNet, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.9.9.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <MigrationSettings launcher="com.tacitknowledge.util.migration.ado.WebAppMigrationLauncher" systemname="applicationname" patchpath="c:\temp\work\patches" postpatchpath="c:\temp\work\patches\postpatchpath"/>
  <MigrationDatabaseSettings type="SQLServer" />
  <dataConfiguration defaultDatabase="AutopatchTestDb" />
  <connectionStrings>
    <add name="AutopatchTestDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Your_Database_Name;Integrated Security=SSPI;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
