<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.9.9.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <dataConfiguration defaultDatabase="AutopatchTestDb" />
    <connectionStrings>
        <add name="AutopatchTestDb" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\VMware_Images\W2K3-Public-Share\Projects.Autopatch\autopatch\migrate\dotnet\TestApp\db\AutopatchTestDb.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>