/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	background: #c6cccc url(images/img01.gif) repeat-y center top;
	 font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
}

a, a:link, a:visited{
	font-weight: bold;
	color: #cc0000;
}

a:hover, a:visited:hover {
	text-decoration: underline;
	color: #990000;
}

/** HEADER */
.tagline {padding-left:40px;font-size:14px;font-style:italic;margin-bottom:10px;}
.headerbottom {background-color:#666; display:block; width:771px; height:10px;}

#header {position:relative;
	width: 770px;
	margin: 0px auto;
	padding: 00px 0px;
	background: #FFFBFD url(images/img02.gif) repeat-x left top;
}

.tacitlogo {display:block; font-size:12px;padding:1px; font-style:italic;
position:absolute; right:0px;top:15px;border-left:4px #fff solid;border-right:4px solid #fff;margin-right:10px;}

#header h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#header h2 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 14px;
}

/** MENU */

#menu {
	width: 210px; 
	background-color: #990000;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: left;
}

#menu li { display:block;
    height:30px;
    width:210px;
    border-bottom:solid 1px #000;
     
}

#menu a {display:block;
    height:30px;
    width:210px;
    line-height:30px;    
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
    background-color: #cc0000;display:block;
    height:30px;
    width:210px;
}

#menu .active {
    background-color: #bb0000;display:block;
    height:30px;
    width:210px;
}

.navpad {padding-left:20px;}

/** CONTENT */

#content {
	width: 770px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

#content h2 {font-size:30px;font-weight:normal;}
#content h3 {font-size:20px;font-weight:normal;}
#content h4, #content h5, #content h6 {
	font-weight: normal;
}

#content p, #content ul, #content ol {
	line-height: 150%;
}

#left {
	float: left;
	width: 210px;
	padding: 0px 00px 00px 00px;
}

#right {
text-align:justify;
	float: right;
	width: 480px;
	padding: 0px 40px 20px 40px;
}

#sf {
	clear: both;
	width: 751px;
    text-align:right;
	 
}

/** FOOTER */

#footer {
	clear: both;
	width: 771px;
	margin: 0px auto;
	border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
}

#footer p {font-size:10px;
	margin-left: 0px;
	padding: 5px 10px;
	color: #333;
}

#footer a, #footer a:link, #footer a:visited {font-size:10px;
	font-weight: normal;
	color: #cc0000;
}

#footer a:hover, #footer a:visited:hover {font-size:10px;
	text-decoration: underline;
	color: #990000;
}
